.program {
  font-family: Oswald;
  font-size: 16px;
  line-height: 18px;
}
.program__title {
  margin-top: 24px;
  margin-bottom: 39px;
}
.program__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.program__info {
  padding-top: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #d9d9d9;
}
.program__info-label {
  display: block;
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 21px;
  }
}
.program__input {
  padding: 10px 14px;
  font-size: inherit;
  text-transform: uppercase;
  font-family: inherit;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: $special-dark-grey;
  }
}


.program__goal {
  padding: 26px 0;
  text-transform: uppercase;
}
.program__input-radio {
  display: none;
}

.program__goal-label {
  display: block;
  padding-left: 45px;
  margin-bottom: 25px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    border-radius: 50%;
  }

  &::before {
    top: -7px;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
  }
  &::after {
    width: 14px;
    height: 14px;
    background-color: $basic-green;
    left: 8px;
    top: 1px;
    transform: scale(0);
    transition: all ease-in .1s;
  }
}
.program__input-radio:checked + .program__goal-label::after {
  transform: scale(1);
}
.program__contacts-title {
  margin-bottom: 33px;
}
.program__input-label {
  display: block;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.program__more-title {
  margin-bottom: 35px;
}
.program__textarea {
  width: 100%;
  padding: 13px 12px;
  resize: none;
  border: 1px solid #e7e7e7;
  min-height: 150px;

  &:placeholder-shown {
    text-transform: uppercase;
    font: inherit;
  }
}

.program__additional-title {
  margin-bottom: 34px;
}
.program__additional-inner {
  padding-top: 7px;
  margin-bottom: 41px;
}
.program__checkbox {
  display: none;
}
.program__checkbox-label {
  padding-left: 46px;
  display: block;
  text-transform: uppercase;
  color: #000000;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
  }

  &::before {
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    top: -7px;
  }
  &::after {
    background-image: url('../img/icons/tick.svg');
    width: 18px;
    height: 14px;
    left: 6px;
    top: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(-50deg) scale(0);
    transition: all ease-out .3s;
  }
}

.program__checkbox:checked + .program__checkbox-label::after {
  transform: rotate(0) scale(1);
}


.program__form-note {
  font-family: Arial;
  margin-top: 21px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
