.button {
  background-color: $basic-green;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  padding: 12px 26px;
  color: #ffffff;
  width: 100%;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
