.catalog {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__title {
  margin: 24px 0 0;
  padding-bottom: 38px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__wrapper {
  // При больших разрешениях будет выполнять роль центровщика, сейчас паддинги навешаны на карточки
  padding: 0;
}

.catalog__additionals {
  padding-top: 3px;
  padding-bottom: 39px;
}

.catalog__additionals-title {
  margin-bottom: 33px;
}

.catalog__additionals-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
}

.catalog__additionals-item {
  padding-bottom: 14px;
}

.catalog__additionals-name {
  margin-top: 13px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.catalog__additionals-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 14px;
}

.catalog__promo {
  padding: 63px 55px 0;
  margin-bottom: 35px;
  min-height: 289px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/promo-bg.png");
}

.catalog__promo-text {
  padding-top: 125px;
  margin-top: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
