.example {
  background-color: $example-bg;
  padding-top: 28px;
  padding-bottom: 33px;

  @media (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 57.3%, $example-bg 57.3%);
    padding-top: 44px;
    padding-bottom: 46px;
  }

  @media (min-width: 1440px) {
    padding-top: 24px;
    padding-bottom: 8px;
    background-image: linear-gradient(to bottom, #ffffff 25.6%, $example-bg 25.6%);
  }
}

.example__title {
  margin: 0 0 32px 0;

  @media (min-width: 768px) {
    margin-bottom: 64px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 130px;
  }
}

.example__wrapper {
  @media (min-width: 768px) {
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

.example__inner {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.example__left-center {
  max-width: 490px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0;
    max-width: none;
  }

  @media (min-width: 1440px) {
    margin: 0;
  }
}

.example__left {
  @media (min-width: 1440px) {
    max-width: 436px;
  }
}

.example__text {
  margin-bottom: 25px;
  padding-right: 1px;

  @media (min-width: 768px) {
    margin-bottom: 53px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 68px;
  }
}

.example__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 768px) {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 61px;
    margin-bottom: 5px;
  }
}

.example__list-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}

.example__item {
  text-align: center;

  &:not(:last-child) {
    margin-right: 32px;
  }

  &--framed {
    position: relative;
    padding: 15px 20px 15px;
    width: 124px;
    border: 1px solid $special-grey;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;

    &:not(:last-child) {
      margin-right: 42px;
    }

    &--framed {
      min-width: 162px;
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.example__item-text {
  position: absolute;
  bottom: -15px;
  left: 50%;
  padding: 0 15px;
  transform: translateX(-50%);
  background-color: $example-bg;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;

  @media (min-width: 768px) {
    background-color: #ffffff;
    white-space: nowrap;
    font-size: 14px;
    line-height: 14px;
    bottom: -9px;
  }

  @media (min-width: 1440px) {
    background-color: $example-bg;
  }
}

.example__item-price {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 33px 0 42px;
  flex-grow: 1;

  @media (min-width: 768px) {
    width: auto;
    margin: 10px 0 0 0;
    text-align: right;
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    margin: 54px 0 0 0;
    text-align: left;
  }
}

.example__item-cost {
  @media (min-width: 768px) {
    display: block;
    margin-top: 10px;
  }

  @media (min-width: 1440px) {
    display: inline-block;
    margin-left: 58px;
  }
}

.example__demo {
  margin-bottom: 1px;

  @media (min-width: 768px) {
    margin-bottom: 22px;
  }

  @media (min-width: 1440px) {
    margin-top: -258px;
  }
}

.example__demo-picture {
  display: block;
  width: 100%;
  margin-bottom: 29px;
  margin-right: -31px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.example__demo-img {
  @media (min-width: 768px) {
    height: 620px;
  }

  @media (min-width: 1440px) {
    height: 656px;
    padding-top: 15px;
    padding-left: 10px;
  }
}

.example__demo-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 56px;

  @media (min-width: 768px) {
    margin-top: -75px;
    padding: 0 63px;
  }

  @media (min-width: 1440px) {
    margin-top: -98px;
    padding-left: 82px;
    padding-right: 0;
  }
}

.example__demo-button {
  max-width: 65px;
  background-color: transparent;
  box-sizing: content-box;
  border: 0;
  border-bottom: 1px dotted $special-grey;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $special-grey;
  }

  &:active {
    border-bottom: none;
    padding-bottom: 2px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1440px) {
    &--before {
      margin-right: 10px;
    }
  }
}

.example__demo-runner {
  position: relative;
  margin: 0 12px;
  padding: 3px 6px;
  flex-grow: 1;
  min-width: 84px;
  height: 14px;
  border: 1px solid $special-grey;
  border-radius: 6px;
  background-color: #ffffff;

  @media (min-width: 768px) {
    height: 6px;
    background-color: #dcdcdc;
  }
}

.example__demo-runner-progress {
  height: 100%;
  background-color: $basic-green;
  width: 50%;
  border-radius: 6px;
  transition: all ease-in 0.2s;

  @media (min-width: 768px) {
    display: none;
  }
}

.example__demo-toggle {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 13px solid #ffffff;
  background-color: $basic-green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  cursor: pointer;

  @media (min-width: 768px) {
    display: block;

    &:active {
      box-shadow: 0 0 0 1px #68b738;
    }
  }
}

.example__demo-runner-progress--after {
  transform: translateX(100%);
}
