.info {
  padding: 17px 0 46px 0;

  @media (min-width: 768px) {
    border-bottom: 1px solid #e6e6e6;
    padding: 35px 0 101px 0;
  }

  @media (min-width: 1440px) {
    padding-top: 63px;
  }
}

.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  counter-reset: info-bg;

  @media (min-width: 420px) {
    row-gap: 55px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 134px;
    column-gap: 59px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.info__title {
  margin: 10px 0 38px 0;

  @media (min-width: 768px) {
    margin-bottom: 72px;
  }
}

.info__item {
  padding-left: 79px;
  padding-top: 2px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--minerals::before {
    background-image: url("../img/leave-mobile.svg");
  }

  &--powder::before {
    background-image: url("../img/powder-mobile.svg");
  }

  &--replace::before {
    background-image: url("../img/tableware-mobile.svg");
  }

  &--changes::before {
    background-image: url("../img/clock-mobile.svg");
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding: 112px 0 0 0;
    max-width: 245px;

    &:nth-child(2n + 1)::after {
      top: -40px;
      right: 5px;
    }

    &:nth-child(2n)::after {
      top: -40px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(info-bg);
      counter-increment: info-bg;
      position: absolute;
      top: 0;
      right: 0;
      font-family: "Oswald", "Verdana", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;
    }

    &--minerals::before {
      background-image: url("../img/leave.svg");
    }

    &--powder::before {
      background-image: url("../img/powder.svg");
    }

    &--replace::before {
      background-image: url("../img/tableware.svg");
    }

    &--changes::before {
      background-image: url("../img/clock.svg");
    }
  }

  @media (min-width: 1440px) {
    width: 245px;
  }
}
