.program {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 59px;
  }

  @media (min-width: 1440px) {
    padding-top: 30px;
    padding-bottom: 59px;
  }
}

.program__form {
  @media (min-width: 768px) {
    padding: 0 39px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.program__title {
  margin-top: 24px;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program__info-goal-box {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
    padding-top: 46px;
  }
}

.program__info-wrapper {
  max-width: 490px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 30px;
    max-width: 1050px;
  }

  @media (min-width: 1440px) {
    padding: 0;
    max-width: none;
    margin: 0;
  }
}

.program__info {
  padding: 26px 20px 4px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding: 46px 0 4px;
  }

  @media (min-width: 1440px) {
    padding-top: 0;
  }
}

.program-border {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 768px) {
    border: none;
  }
}

.program__info-label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 21px;
  }

  @media (min-width: 768px) {
    margin-bottom: 22px;
  }
}

.program__input {
  position: relative;
  margin-left: 14px;
  padding: 10px 14px;
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  border: 0;
  outline: 1px solid #e7e7e7;

  &--required {
    outline: 2px solid #ff8282;
  }

  &--required + .program__input-label-icon--phone path {
    fill: #ff8282;
  }

  &--required + .program__input-label-icon--mail line,
  &--required + .program__input-label-icon--mail path{
    stroke: #ff8282;
  }

  &::placeholder {
    color: $special-dark-grey;
  }

  &::placeholder {
    color: $special-dark-grey;
  }

  &:hover {
    outline: 2px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid $special-dark-grey;
  }

  &:focus + .program__input-label-icon--phone path {
    fill: $basic-green;
  }

  &:focus + .program__input-label-icon--mail line,
  &:focus + .program__input-label-icon--mail path{
    stroke: $basic-green;
  }

  @media (min-width: 768px) {
    margin-left: 22px;
  }
}

.program__goal-wrapper {
  max-width: 490px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 1050px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    max-width: none;
    padding: 0;
  }
}

.program__goal {
  padding: 29px 20px 23px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin: 49px 0 37px 0;
    padding: 33px 0 31px 44px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: 1440px) {
    margin: 0;
    padding: 33px 0 31px 42px;
  }
}

.program__input-radio {
  display: none;
}

.program__input-radio:disabled + .program__goal-label {
  opacity: 0.3;
}

.program__goal-label {
  display: block;
  padding-left: 45px;
  margin-bottom: 25px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 50%;
  }

  &::before {
    top: -7px;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
  }

  &::after {
    width: 14px;
    height: 14px;
    background-color: $basic-green;
    left: 8px;
    top: 1px;
    transform: scale(0);
    transition: all ease-in 0.25s;
  }

  @media (min-width: 768px) {
    margin-bottom: 29px;

    &::before {
      width: 40px;
      height: 40px;
      top: -9px;
      left: -15px;
    }

    &::after {
      width: 18px;
      height: 18px;
      top: 2px;
      left: -4px;
    }
  }
}

.program__input-radio:checked + .program__goal-label::after {
  transform: scale(1);
}

.program__contacts {
  padding-top: 2px;
  padding-bottom: 1px;

  @media (min-width: 768px) {
    padding-bottom: 30px;
  }

  @media (min-width: 1440px) {
    padding-top: 12px;
    padding-bottom: 32px;
  }
}

.program__contacts-title {
  margin-bottom: 36px;

  @media (min-width: 768px) {
    margin-bottom: 77px;
  }
}

.program__contacts-inner {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 77px;
  }
}

.program__input-label {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  &-icon {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
  }

  &-icon--mail {
    top: 15px;
    right: 15px;
  }

  &-icon--phone {
    top: 12px;
    right: 12px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  @media (min-width: 1440px) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.program__more {
  @media (min-width: 768px) {
    padding-bottom: 41px;
  }
}

.program__more-title {
  margin-bottom: 38px;

  @media (min-width: 768px) {
    margin-bottom: 76px;
  }
}

.program__textarea {
  width: 100%;
  padding: 9px 12px 13px;
  resize: none;
  border: 1px solid #e7e7e7;
  height: 150px;

  &:placeholder-shown {
    text-transform: uppercase;
    font: inherit;
  }

  @media (min-width: 768px) {
    padding: 13px 19px 13px;
    height: 174px;
  }
}

.program__additional {
  padding-bottom: 20px;

  @media (min-width: 1440px) {
    padding-bottom: 25px;
  }
}

.program__additional-title {
  margin-top: 21px;
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin-bottom: 58px;
  }
}

.program__additional-inner {
  padding-top: 7px;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 49px;
    margin-bottom: 61px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    margin-bottom: 72px;
  }
}

.program__checkbox {
  display: none;
}

.program__checkbox-label {
  padding-left: 46px;
  display: block;
  text-transform: uppercase;
  color: #000000;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
  }

  &::before {
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    top: -7px;
  }

  &::after {
    background-image: url("../img/icons/tick.svg");
    width: 18px;
    height: 14px;
    left: 6px;
    top: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(-50deg) scale(0);
    transition: all ease-out 0.3s;
  }

  @media (min-width: 768px) {
    padding-left: 60px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      top: 5px;
      left: 12px;
    }
  }
}

.program__checkbox-label:hover::before {
  border-color: #bababa;
}

.program__checkbox:disabled + .program__checkbox-label {
  opacity: 0.3;
}

.program__checkbox:checked + .program__checkbox-label::after {
  transform: rotate(0) scale(1);
}

.program__additional-bottom {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: 1440px) {
    column-gap: 82px;
  }
}

.program__button {
  @media (min-width: 768px) {
    flex-basis: 282px;
  }
}

.program__form-note {
  font-family: "Arial", sans-serif;
  margin-top: 21px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  @media (min-width: 768px) {
    margin-top: 17px;
    font-size: 16px;
    text-align: left;
  }
}
