.site-list {
  width: 100%;
}

.site-list__item {
  width: 100%;
  text-align: center;

  @media (min-width: 768px) {
    width: auto;
    padding-top: 2px;

    &:not(:last-child) {
      margin-right: 37px;
    }
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}

.site-list__link {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 14px 0 10px;
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1000px;
    background-color: #e6e6e6;
    height: 1px;
    width: 10000px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    background-color: transparent;
    font-size: 18px;

    &::before {
      display: none;
    }

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: 1440px) {
    background-color: transparent;
    border: 0;
    padding: 6px 0;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;

    &--active {
      border-bottom: 2px solid #ffffff;
    }

    &--dark {
      color: #111111;
    }

    &--dark.site-list__link--active {
      border-bottom: 2px solid $basic-green;
    }
  }
}
