.site-list__item {
  width: 100vw;
  text-align: center;
}
.site-list__link {
  font-family: Oswald;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  padding: 20px 0;
  text-transform: uppercase;
  display: inline-block;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  color: #000000;
}
