.site-list__item {
  width: 100vw;
  text-align: center;

  @media (min-width: 768px) {
    width: auto;
    padding-top: 2px;

    &:not(:last-child) {
      margin-right: 37px;
    }
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 14px 0 10px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  color: #000000;

  &:hover {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }

  &--active {
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: 768px) {
    background-color: transparent;
    border: 0;
    font-size: 18px;
  }

  @media (min-width: 1440px) {
    background-color: transparent;
    border: 0;
    padding: 6px 0;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;

    &--active {
      border-bottom: 2px solid #ffffff;
    }
  }
}
