html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: $body-bg;
  color: $special-dark-grey;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 490px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    max-width: 1050px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    max-width: 1280px;
  }
}

.title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.section-border {
  border-bottom: 1px solid #d9d9d9;
}

.subtitle {
  position: relative;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;



  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;

    br {
      display: none;
    }
  }
}

.subtitle__text {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 22px;
    width: 1000px;
    height: 2px;
    background-color: $basic-green;
  }

  &::before {
    right: calc(100% + 39px);
  }

  &::after {
    left: calc(100% + 42px);
  }

  @media (min-width: 768px) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 31px;
    }
  }
}
