html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: $body-bg;
  color: $special-dark-grey;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
}

.section-border {
  border-bottom: 1px solid #d9d9d9;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  span {
    display: inline-block;
    position: relative;
    z-index: 10;
    background-color: #fff;
      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        top: 50%;
        left: 0;
        height: 2px;
        flex-grow: 1;
        background-color: $basic-green;
        z-index: -1;
    }
  }
}
